# 교사인증

::: tip
This is a tip.
:::