/* docs/.vitepress/styles.css 
.page-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .page-title {
    font-size: 2em;
    margin-right: 10px;
  }
  .badge {
    background-color: #007bff;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
  }*/

.vp-doc .vp-tip::before {
  content: "💡"; /* 아이콘 설정 */
  margin-right: 8px;
}

.vp-doc .vp-warning::before {
  content: "⚠️"; /* 아이콘 설정 */
  margin-right: 8px;
}

.vp-doc .vp-danger::before {
  content: "❗"; /* 아이콘 설정 */
  margin-right: 8px;
}

.vp-badge.tip {
  background-color: #FFA500;
  color: black;
}

.vp-search-input input::placeholder {
  color: #888; /* 원하는 색상 */
  content: "검색"; /* 원하는 텍스트 */
}
